.part0{
	width: 100%;
	display: block;
}

.main{
	max-width: 1500px;
	margin: 0 auto;
	overflow: hidden;
}
.main img{
	width: 100%;
	display: block;
}

.part2 .vedio-box{
	width: 70%;
	height: 725px;
	position: relative;
}
.part2 .vedio-box .vedio-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#play {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 114px;
    height: 114px;
    display: block;
    margin-top: -57px;
    margin-left: -57px;
    cursor: pointer;
    z-index: 12;
}

.part2 .img2{
	width: 30%;
}

.part{
	margin-top: 60px;
}
.part1{
	margin-top: 0;
	padding-top: 60px;
}

.content{
	margin-top: 0;
}


/*右侧固定索引*/
.right-fixed{
	position: fixed;
	z-index: 22;
	top: 50%;
	right: 0;
	width: 34px;
	margin-top: -100px;
}
.right-fixed a{
	display: block;
    width: 16px;
    height: 16px;
    background: #c1c1c1;
    outline: 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    opacity: 0.3;
    margin-bottom: 20px;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}
.right-fixed a.active{
	opacity: 1;
}
