.index-main{
	padding: 0 .2rem;
	margin-top: .38rem;
}
.index-main ul li{
	width: 32%;
	margin-right: 2%;
	margin-bottom: .2rem;
	height: 2rem;
	border-radius: .2rem;
	background: #D6000F;
	float: left;
	border: 1px solid #D6000F;
	box-sizing: border-box;
}
.index-main ul li a{
	display: block;
	height: 100%;
}
.index-main ul li:nth-child(3n){
	margin-right: 0;
}
.index-main ul li span{
	display: block;
	height: 1rem;
	margin: .28rem auto .1rem auto;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.index-main ul li:nth-child(1) span{
	background-image: url(../img/index/1.png);
}
.index-main ul li:nth-child(1):active span{
	background-image: url(../img/index/1_1.png);
}
.index-main ul li:nth-child(2) span{
	background-image: url(../img/index/2.png);
}
.index-main ul li:nth-child(2):active span{
	background-image: url(../img/index/1_2.png);
}
.index-main ul li:nth-child(3) span{
	background-image: url(../img/index/3.png);
}
.index-main ul li:nth-child(3):active span{
	background-image: url(../img/index/1_3.png);
}
.index-main ul li:nth-child(4) span{
	background-image: url(../img/index/4.png);
}
.index-main ul li:nth-child(4):active span{
	background-image: url(../img/index/1_4.png);
}
.index-main ul li:nth-child(5) span{
	background-image: url(../img/index/5.png);
}
.index-main ul li:nth-child(5):active span{
	background-image: url(../img/index/1_5.png);
}
.index-main ul li:nth-child(6) span{
	background-image: url(../img/index/6.png);
}
.index-main ul li:nth-child(6):active span{
	background-image: url(../img/index/1_6.png);
}

.index-main ul li h2{
	font-size: .28rem;
	text-align: center;
	color: rgba(255,255,255,.7);
	text-shadow: 0.02rem 0.02rem 0 rgba(0,0,0,.2);
}
.index-main ul li:active{
	box-shadow: inset 0 .2rem .2rem rgba(255,255,255,.6);
	background: #ddd;
	border: 1px solid #bbb;
}
.index-main ul li:active h2{
	color: #D6000F;
	text-shadow: none;
}






