/*iframe 公共*/
.iframe-content{
	width: 100%;
	padding: 3% 5% 1% 5%;
	box-sizing: border-box;
}
/*视频列表*/
.video-content{
	padding: 3% 8% 2% 8%;
	margin-top: 10px;
}
.video-content ul{
	width: 100%;
}
.video-content ul li{
	width: 30%;
	margin-right: 5%;
	float: left;
	margin-bottom: 25px;
}
.video-content ul li:nth-child(3n){
	margin-right: 0;
}
.video-content ul li a{
	display: block;
}
.video-content ul li .img-box{
	width: 100%;
/*	height: 200px;*/
	position: relative;
	margin-bottom: 6px;
}
.video-content ul li .play-img{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin-left: -30px;
	margin-top: -30px;
	z-index: 2;
}
.video-content ul li .video-img{
	width: 100%;
/*	height: 200px;*/
	display: block;
}
.video-content ul li span{
	position: relative;
	width: 100%;
	display: block;
}
.video-content ul li i{
	position: absolute;
    left: -16px;
    bottom: 0;
    width: 6px;
    height: 15px;
    background: #c30e23;
    z-index: 3;
    display: block;
}

/*视频详情*/
.video-detail{
	padding: 3% 10% 1% 10%;
	margin-top: 10px;
}
.video-detail h2{
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #bbb;
	padding-bottom: 15px;
	margin-bottom: 30px;
}






