/*set*/
.set-con,.safe-con,.safeTips-con{
	position: absolute;
	top: .88rem;
	left: 0;
	width: 100%;
	border-top: 1px solid #D7D7D7;
}
.set-list2,.safe-list{
	margin-bottom: .24rem;
}
.set-list,.set-list2,.safe-list{
	background: #fff;
	padding-left: .24rem;
	border-bottom: 1px solid #D7D7D7;
	font-size: .28rem;
	overflow: hidden;
}
.set-list li,.set-list2 li,.safe-list li{
	padding-right: .24rem;
	overflow: hidden;
	height: .88rem;
	line-height: .88rem;
	border-bottom: 1px solid #D7D7D7;
}
.set-list li:last-child,.set-list2 li:last-child,.safe-list li:last-child{
	border-bottom: 0;
}
.edition-num{
	color: #999;
}
.set-con img,.safe-con img{
	width: .18rem;
	height: .3rem;
	margin-top: .29rem;
}
.button-big{
	margin-top: .48rem;
	background: #e5e5e5;
	color: #999;
}
.changeKey{
	color: #999;
	font-size: .24rem;
}
.changeKey img{
	margin-left: .16rem;
}
.set-con a{
	display: block;
	overflow: hidden;
}

/*账户与安全*/
.safe{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
}
.safe-prompt{
	background: #FFFFFF;
	border-bottom: 1px solid #D7D7D7;
	border-top: 1px solid #D7D7D7;
	height: .88rem;
	line-height: .88rem;
	padding-left: .24rem;
	padding-right: .24rem;
	font-size: .28rem;
}

/*安全Tips popup*/
.safeTips-popup{
	position: fixed;
	left: 100%;
	top: 0;
	width: 100%;
	background: #FFFFFF;
	font-size: .24rem;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
}
.safeTips-item{
	margin: .24rem 0;
}
.safeTips-item h2{
	font-size: .28rem;
	line-height: 1;
	margin-bottom: .16rem;
}
.safeTips-item p{
	font-size: .24rem;
	color: #666;
	line-height: .34rem;
}
.button-big span{
	padding: 0 .08rem;
}

