.header{
	background: #fff;
	width: 100%;
	height: .88rem;
	line-height: .88rem;
	position: fixed;
}
.header h2{
	text-align: center;
	color: #000;
	font-size: .36rem;
}
.news-wrap{
	position: absolute;
	right: .24rem;
	top:0;
	height: .88rem;
	line-height: .88rem;
}
.edit{
	float: left;
	font-size: .32rem;
	color: #999;
	margin-right: .5rem;
}
.news-wrap img{
	width: .38rem;
	height: .4rem;
	float: right;
	margin-top: .24rem;
}

/*content-img*/
.content-img{
	display: none;
	width: 100%;
	position: absolute;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	margin-top: 1.04rem;
	background: #fff;
}
.shop1{
	width: 1.64rem;
	height: 1.32rem;
	display: block;
	margin: 1.2rem auto .24rem auto;
}
.shop2{
	width: 2.8rem;
	height: .94rem;
	display: block;
	margin: 0 auto;
}

/*content-con*/
.content-con{
	width: 100%;
	position: absolute;
	margin-top: 1.04rem;
}
.shop-list li{
	background: #fff;
	padding:.24rem .24rem .16rem .24rem;
	margin-bottom: .16rem;
}
.shop-top{
	width: 100%;
	height: .32rem;
	line-height: .32rem;
	font-size: .24rem;
}
.shop-top p{
	color:#222;
	text-align: center;
	height: .32rem;
	line-height: .32rem;
}
.shop-top p span{
	width: .62rem;
	height: .3rem;
	line-height: .3rem;
	margin-right: .14rem;
	border: 1px solid #f60;
	border-radius: 2px;
	display: inline-block;
	color: #f60;
}
.shop-top a{
	color: #f60;
}

/*shop-content*/
.shop-content{
	margin-top: .16rem;
	height: 1.68rem;
	width: 100%;
	padding-bottom: .16rem;
}
.shop-con-link{
	height: 1.68rem;
	display: block;
}
.check{
	opacity:0;
	position: absolute;
	margin-top: .74rem;
	left: .3rem;
}
.check-img{
	width: .32rem;
	height: .32rem;
	display: block;
	margin-top: .68rem;
}
.shop-img{
	display: block;
	width: 1.86rem;
	height: 1.66rem;
	border: 1px solid #D7D7D7;
	margin-left: .16rem;
	margin-right: .16rem;
}
.shop-con-right{
	width: 4.4rem;
	height: 1.68rem;
}

.shop-con-right p{
	color: #222;
	margin-bottom: .1rem;
}
.shop-con-right .p1,.shop-con-right .p2{
	font-size: .3rem;
}
.shop-con-right .p3{
	font-size: .24rem;
	color: #999;
}
.p3 .size{
	margin-right: .1rem;
	margin-left: .04rem;
}
.p3 .color{
	margin-left: .04rem;
}
.price-wrap{
	position: relative;
	height: .48rem;
}
.price-wrap .price{
	color:#f60;
	font-size: .3rem;
	position: absolute;
	bottom: 0;
	left: 0;
}
.price-wrap .price input{
	color: #FF6600;
	font-size: .3rem;
	font-family:"Helvetica Neue";
	font-weight: 700;
	width: 1.2rem;
}
.shop-number{
	border-radius: .1rem;
	width: 1.6rem;
	height: .46rem;
	line-height: .46rem;
	border: 1px solid #D7D7D7;
	position: absolute;
	right: 0;
	bottom: 0;
}
.shop-number i{
	font-size: .3rem;
	height: .46rem;
	line-height: .46rem;
	width: .48rem;
	text-align: center;
	font-style: normal;
}
.shop-number .reduce{	
	color: #D7D7D7;	
	border-right: 1px solid #D7D7D7;
	float: left;	
}

.shop-number .add{
	color: #222;
	border-left: 1px solid #D7D7D7;
	float: right;
}
.shop-number .shop-num{
	color: #222;
	font-size: .24rem;
	float: left;
	text-align: center;
	width: .56rem;
	line-height: .46rem;
	font-family:"Helvetica Neue";
	font-weight: 700;
}

/*settlement*/
.settlement{
	width: 100%;
	border-top: 1px solid #D7D7D7;
	height: .9rem;
	position: fixed;
	bottom: .98rem;
}
.settle-left{
	height: .9rem;
	margin-left: .24rem;
}
.settle-left img{
	width: .32rem;
	height: .32rem;
	margin-top: .29rem;
	margin-right: .12rem;
	float:left;
	vertical-align: middle;
}
.check-all{
	bottom: .34rem;
	left: .3rem;
}
.settle-left label{
	height: .9rem;
	line-height: .9rem;
	margin-right: .12rem;
	font-size: .24rem;
	float: left;
}
.settle-total{
	font-size: .32rem;
	height: .6rem;
	line-height: .6rem;
}
.settle-price{
	font-size: .22rem;
	transform: scale(.92);
	-webkit-transform: scale(.92);
	-o-transform: scale(.92);
	-moz-transform: scale(.92);
	-ms-transform: scale(.92);
}
.settle-right{
	width: 2.13rem;
	height: .9rem;
	line-height: .9rem;
	background: #f60;
	text-align: center;
}
.settle-right a{
	width: 2.13rem;
	height: .9rem;
	display: block;
	font-size: .36rem;
	color: #fff;
}
.settlement-num-box{
	font-size: .24rem;
}
	/*移入收藏 删除*/
.settle-right-btn{
	position: absolute;
	right: .24rem;
	bottom: 0;
	height: .9rem;
	width: 60%;
	display: none;
}
.settle-right-btn span{
	margin-top: .17rem;
}





