header{
	background: #fff;
}

.overCase textarea{
	width: 100%;
	font-size: .24rem;
	border-bottom: 1px solid #d7d7d7;
	resize: none;
	height: 4rem;
	padding: .16rem .24rem;
	box-sizing: border-box;
	margin-bottom: 1rem;
}










