.footer {
    width: 100%;
    height: 78px;
    position: relative;
    margin-top: -78px;
    z-index: 9;
}
.main-con{
	background: url(../img/bg3_1.jpg) center top no-repeat;	
	color: #fff;
}
.content{
	position: relative;
	background-color: #010209;
}
.content h3{
	font-size: 36px;
	font-weight: normal;
	line-height: 50px;
	margin-bottom: 20px;
	color: #fff;
}
.content p{
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 20px;
	color: #fff;
}
.img1-box{
	width: 100%;
	height: 52px;
}
.img1-box img{
	display: block;
	margin: 0 auto;
	padding-top: 13px;
	width: 210px;
	height: 25px;
}

/*盈利矩阵*/
.yljz .main-con{
	padding-bottom: 272px;
	padding-top: 90px;
}
.yljz .part1{
	padding: 0 25px;
}
.yljz .part1 .fl-rt{
	width: 450px;
	position: relative;
}
.yljz .part1 .fl-rt img{
	position: absolute;
	left: -270px;
	top: 60px;
}
.yljz .part1 .fl-rt h3{
	margin-top: 281px;
	font-size: 30px;
}
.yljz .part1 .fl-rt p{
	margin-bottom: 15px;
}

/*连锁模式*/
.lsms .main-con{
	padding-bottom: 282px;
	padding-top: 110px;
	background: url(../img/jjz1.jpg) center top no-repeat;	
}
.lsms .part1{
	padding: 0 50px;
}
.lsms .part1 .fl-rt{
	width: 410px;
	position: relative;
}
.lsms .part1 .fl-rt img{
	position: absolute;
	left: -310px;
	top: 28px;
}
.lsms .part1 .fl-rt h3{
	margin-top: 166px;
}

.lsms .part2{
	padding: 0 25px;
	margin-top: 70px;
}
.lsms .part2 .fl-lt{
	width: 398px;
	margin-right: 40px;
	position: relative;
	text-align: right;
}
.lsms .part2 .fl-lt img{
	position: absolute;
	right: -170px;
	top: 28px;
}
.lsms .part2 .fl-lt .h3_1{
	margin-top: 280px;
}
.lsms .part2 .fl-lt  h3{
	margin-bottom: 5px;
}
.lsms .part2 .fl-lt  p{
	margin-bottom: 17px;
}

/*合作亮点*/
.hzld .main-con{
	padding-bottom: 240px;
	padding-top: 90px;
	background: url(../img/bg3_1.jpg) center top no-repeat;	
}
.hzld .part1{
	padding: 0 25px;
}
.hzld .part1 .fl-rt{
	width: 370px;
	position: relative;
}
.hzld .part1 .fl-rt img{
	position: absolute;
	left: -210px;
	top: 50px;
}
.hzld .part1 .fl-rt h3{
	margin-top: 214px;
}
.hzld .part1 .fl-rt p{
	font-size: 12px;
	line-height: 22px;
	margin-bottom: 15px;
}

