/*分页导航*/
.page-nav{
	position: relative;
	width: 930px;
	margin: 0 auto;
	text-align: center;
}
.page-nav .img1{
	position: absolute;
	left: 0;
	top: 10px;
}
.page-nav .img2{
	position: absolute;
	right: 0;
	top: 10px;
}
.page-nav .prev,
.page-nav .next{
	display: inline-block;
	font-size: 14px;
	color: #666;
	width: 60px;
	text-align: center;
}
.page-nav ul{
	font-size: 0;
	display: inline-block;
}
.page-nav ul li{
	font-size: 14px;
	display: inline-block;
	padding: 0 15px;
	color: #666;
}
.page-nav ul li.active{
	color: #f00;
}

/*品牌头条*/
.pp_tt .three-nav{
	margin-bottom: 40px;
}
.pp_tt .three-nav a{
	color: #666;
	font-size: 14px;
	padding: 0 15px;
	border-right: 3px solid #B5262D;
}
.pp_tt .three-nav a:first-child{
	padding-left: 0;
}
.pp_tt .three-nav a:last-child{
	border-right: 0;
}
.pp_tt .three-nav a.active{
	font-size: 16px;
	color: #B5262D;
}

.pp_tt .main{
	width: 100%;
}
.pp_tt .main .main-left{
	width: 40%;
}
.pp_tt .main .main-right{
	width: 55%;
}
.pp_tt .main .con ul li{
	border-bottom: 1px dashed #aaa;
	height: 52px;
	line-height: 52px;
}
.pp_tt .main .con ul li a{
	display: block;
	height: 100%;
	font-size: 15px;
}
.pp_tt .main .con ul li a:hover{
	color: #B5262D;
}
.pp_tt .main .con ul li p{
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pp_tt .page-nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}
.pp_tt .page-nav img{
	display: none;
}


/*详情*/
.pp_detail{
	width: 100%;
	margin: 0 auto;
/*	margin-bottom: 370px;*/
}
.pp_detail .main{
	width: 80%;
	margin: 0 auto;
}

.pp_detail .title{
	text-align: center;
}
.pp_detail .title h1{
	font-weight: normal;
	font-size: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 10px;
}
.pp_detail .title .desc{
	text-align: center;
	font-size: 0;
}
.pp_detail .title .desc span{
	font-size: 14px;
	color: #666;
	display: inline-block;
	margin: 0 5px;
}
.pp_detail .title .desc .img-box{
	display: inline-block;
	height: 30px;
	vertical-align: middle;
}
.pp_detail .title .desc .img-box img{
	display: block;
	height: 100%;
}

.pp_detail .con{
	margin: 40px auto;
}
.pp_detail .con p{
	font-size: 14px;
	line-height: 24px;
	text-indent: 28px;
	margin: 15px auto;
}
.pp_detail .con img{
	display: block;
	margin: 20px auto;
}

.pp_detail .bottom-nav{
	width: 100%;
	/*position: fixed;
	bottom: 0;
	left: 0;
	padding-left: 200px;*/
	box-sizing: border-box;
	background: #445572;
	z-index: 33;
	height: 245px;
	overflow: hidden;
}
.pp_detail .bottom-nav-con{
	width: 80%;
	margin: 0 auto;
	height: 60px;
	line-height: 60px;
}
.pp_detail .bottom-nav-con a{
	color: #fff;
	font-size: 14px;
	width: 48%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pp_detail .bottom-nav-con a:last-child{
	text-align: right;
}
.pp_detail .bottom-nav-con a:hover{
	color: #dab45b;
}

.pp_detail .bottom-con{
	width: 80%;
	margin: 0 auto 20px auto;
	padding-top: 20px;
	border-top: 1px solid #FFF;
	color: #FFF;
}
.pp_detail .bottom-con h3{
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 15px;
}
.pp_detail .bottom-con ul li{
	width: 25%;
	padding-right: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	float: left;
	height: 36px;
	line-height: 36px;
	position: relative;
}
.pp_detail .bottom-con ul li a{
	color: #fff;
	display: block;
	height: 100%;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.pp_detail .bottom-con ul li a:hover{
	color: #dab45b;
}
.pp_detail .bottom-con ul li::before{
	content: '+';
	color: #dab45b;
	position: absolute;
	left: 0;
	top: -1px;
	
}

/*品牌视频 && 品牌专访*/
.pp_sp-wrapper{
	margin-top: 0;
	position: relative;
}
.pp_sp{
	width: 100%;
	margin: 0 auto;
}
.pp_sp .img1{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 800px;
	z-index: -1;
}
.pp_sp .pc-slide{
	width: 1100px;
	margin: 10% auto 0 auto;
}
.pp_sp .view{
	position: relative;
	z-index: 2;
	padding-top: 23px;
}
.pp_sp .img2{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
}
.pp_sp .view h1{
	font-size: 30px;
	font-family: "宋体";
	color: #fff;
	width: 100%;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: absolute;
	top: -45px;
	left: 0;
}


.pc-slide .view .vedio-box{
	width: 100%;
	height: 100%;
}
.pc-slide .view .vedio-box embed{
	display: block;
	width: 100%!important;
	height: 100%!important;
}


.pc-slide{
	margin-top: 20px;
	position: relative;
}
.pc-slide .view{
	width: 840px;
	height: 520px;
}
.pc-slide .view .swiper-container{
	width: 800px;
	height: 450px;
	margin: 0 auto;
}
.pc-slide .view img{
	display: block;
	width: 100%;
	height: 100%;
}

.pc-slide .preview{
	width: 220px;
	position: relative;
}
.pc-slide .preview .swiper-container{
	height: 490px;
}
.pc-slide .preview .swiper-slide{
	height: 150px!important;
	margin-bottom: 20px;
	background: rgba(255,255,255,.3);
	color: #fff;
}
.pc-slide .preview .swiper-slide .preview-con{
	height: 130px;
	cursor: pointer;
	text-align: center;
	border: 1px dashed #fff;
	margin: 10px;
	position: relative;
}
.pc-slide .preview .swiper-slide .preview-con h2{
	font-family: '宋体';
	font-size: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}
.pc-slide .preview .swiper-slide .preview-con h2 span{
	font-size: 24px;
	display: block;
}
.pc-slide .preview .active-nav{
	background: #b5262d;
	color: #dab45b;
}
.pc-slide .preview .active-nav .preview-con{
	border: 1px dashed #dab45b;
}

.pc-slide .preview .arrow-left{
	position: absolute;
    top: -65px;
    right: 50%;
    margin-right: -60px;
    width: 120px;
    height: 40px;
    text-align: center;
    background: rgba(0,0,0,.5);
    display: block;
    cursor: pointer;
}

.pc-slide .preview .arrow-right{
	position: absolute;
    bottom: -65px;
    right: 50%;
    margin-right: -60px;
    width: 120px;
    height: 40px;
    text-align: center;
    background: rgba(0,0,0,.5);
    display: block;
    cursor: pointer;
}
.pc-slide .preview .arrow-left img,
.pc-slide .preview .arrow-right img{
	margin-top: 14px;
}








